[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=System Info
GenericName=System Info
Name[de_DE]=System-Info
Name[el_GR]=Πληροφορίες Συστήματος
Name[es]=Información del sistema
Name[fi]=Järjestelmätiedot
Name[it]=Info sul Sistema
Name[pl]=Informacje o Systemie
Name[ru]=Информация о системе
Name[uk]=Системна інформація
Comment=Gather and show information about system
Comment[de_DE]=Informationen über das System erfassen und zeigen
Comment[el_GR]=Συγκεντρωτικές πληροφορίες συστήματος
Comment[es]=Recopila y muestra información sobre el sistema
Comment[fi]=Kerää ja näytä tietoja järjestelmästä
Comment[it]=Raccogli e mostra informazioni relative al Sistema
Comment[pl]=Zbiera i wyświetla informacje o systemie
Comment[ru]=Соберите и покажите информацию о системе
Comment[uk]=Збирає та показує системну інформацію
Exec=/usr/bin/sparky-system
Icon=computer
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

