[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=System Info
GenericName=System Info
Name[el_GR]=Πληροφορίες Συστήματος
Name[pl]=Informacje o Systemie
Name[ru]=Информация о системе
Comment=Gather and show information about system
Comment[el_GR]=Συγκεντρωτικές πληροφορίες συστήματος
Comment[pl]=Zbiera i wyświetla informacje o systemie
Comment[ru]=Соберите и покажите информацию о системе
Exec=/usr/bin/sparky-system
Icon=computer
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

